body {
  background-color: var(--bg-0);
  font-family: "Inter";
  margin: 0px;
  /* margin-left: 64px;
    margin-right: 64px; */

  --bg-0: #ebe2f3;
  --bg-1: #1d1128;
  --bg-2: #9c92a3;
  --fg-2: #9c6fc3;
  --fg-0: #1d1128;
  --fg-1: #ebe2f3;
}

.title {
  color: var(--fg-0);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 64px;
  margin: 0;
  padding: 0px;
}

nav {
  color: var(--fg-0);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  border-bottom: 4px solid var(--fg-2);
  background-color: var(--bg-0);
  padding: 8px;
  z-index: 1;
}

.section {
  background-color: var(--bg-1);
  color: var(--fg-1);
  padding: 32px 48px;
}

.section:nth-child(even) {
  background-color: var(--bg-0);
  color: var(--fg-0);
}

.about {
  display: flex;
}

.about-left {
  flex: 3;
  padding-right: 24px;
}

.about-image {
  width: 260px;
  height: 260px;
}

.contact {
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:link {
  /* text-decoration: none; */
  /* background-color: transparent; */
}

a:hover {
  color: var(--fg-2);
  /* text-decoration: none; */
  background-color: transparent;
}

.project-cards-container {
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
  background-color: var(--bg-1);
  flex-basis: 20%;
  flex-grow: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 200ms;
}

.project-card:hover {
  background-color: var(--bg-1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.03);
  cursor: pointer;
}

.project-card__image {
  background-color: var(--fg-2);
}

.project-card__text {
  color: var(--fg-1);
  padding: 24px;
  flex-grow: 1;
}

h2,
h3 {
  margin-top: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.5;
}

.feather {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.contact a {
  display: flex;
  gap: 8px;
}

.contact ul {
  gap: 0;
  justify-content: space-between;
  max-width: 600px;
  flex: 1;
}

.contact {
  display: flex;
  justify-content: center;
}

p a {
  text-decoration: underline;
}

.icon-only {
  display: none !important;
}

@media (max-width: 720px) {
  .section {
    padding: 32px;
  }
  .about {
    flex-direction: column;
  }
  .about-left {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .icon-only {
    display: block !important;
  }
  .contact-text {
    display: none !important;
  }
  .contact ul {
    max-width: 200px;
  }
}

a.anchor {
  position: relative;
  top: -56px;
}
